

.get-started{
    background: linear-gradient(to right,#7E90FE 0%,#9873FF  100%);
    padding: 19px 28px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}