.category-cart{
    border-radius: 8px;
    background: linear-gradient(to right, rgba(126, 144, 254, 0.05),rgba(152, 115, 255, 0.05));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

}
.category-cart p{
    color: rgba(163, 163, 163, 1);
}
.image-container{
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}